<a href="/admin/event/new"><button type="button" class="btn btn-primary btn-lg btn-block">Crée un évenement</button></a>
<p></p>
<a href="/admin/event/all"><button type="button" class="btn btn-primary btn-lg btn-block">Voir les évenement</button></a>
