<a href="/admin/promotion/new"><button type="button" class="btn btn-primary btn-lg btn-block">Crée une promotion</button></a>
<p></p>
<a href="/admin/promotion/all"><button type="button" class="btn btn-primary btn-lg btn-block">Voir les promotions</button></a>
